.choiceWrapper {
  &:active {
    animation: none;
    transform: scale(0.9);
  }
}

.choice {
  &:active {
    transform: scale(0.9);
    box-shadow: 1px 1px 2px 2px rgba(#000, 0.25);
  }
}
