.choiceWrapper {
  &:active {
    animation: none;
    transform: scale(0.9);
  }
}

.choice {
  transition: all 2s ease-in-out;
  &:active {
    transform: scale(0.9);
    box-shadow: var(--secondary-shadow);
  }
}
