@import "tailwindcss";

:root {
  --main-color: #49b9ba;
  --secondary-color: #eb8a69;
}

body {
  font-family: "DynaPuff", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "width" 100;
}
