@import 'tailwindcss';

:root {
  --main-color: #49b9ba;
  --secondary-color: #eb8a69;

  --default-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
  --secondary-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.25);

  --btn-animate-duration: 500;
}

@theme inline {
  --color-main: var(--main-color);
  --color-secondary: var(--secondary-color);

  --shadow-default: var(--default-shadow);
  --shadow-secondary: var(--secondary-shadow);
}

body {
  font-family: 'DynaPuff', system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: 'width' 100;
  color: white;
  background: linear-gradient(to bottom, var(--main-color), var(--secondary-color));

  @media (min-width: 1024px) {
    background: linear-gradient(to right, var(--main-color), var(--secondary-color));
  }
}
