@import 'tailwindcss';

:root {
  --main-color: #49b9ba;
  --main-color-dark: #38a8a9;
  --secondary-color: #eb8a69;
  --secondary-color-dark: #e4665b;

  --gradient-vertical: linear-gradient(to bottom, var(--main-color), var(--secondary-color));
  --gradient-horizontal: linear-gradient(to right, var(--main-color), var(--secondary-color));

  --default-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  --secondary-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.2);

  --btn-animate-duration: 500;
  --dice-animate-duration: 1000;
  --drawer-animate-duration: 400;
}

@theme inline {
  --color-main: var(--main-color);
  --color-main-dark: var(--main-color-dark);
  --color-secondary: var(--secondary-color);
  --color-secondary-dark: var(--secondary-color-dark);

  --shadow-default: var(--default-shadow);
  --shadow-secondary: var(--secondary-shadow);
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'DynaPuff', system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: 'width' 100;
  color: white;
  background: var(--gradient-vertical);

  @media (min-width: 1024px) {
    background: var(--gradient-horizontal);
  }
}

/* Landscape orientation warning for mobile devices */
@media screen and (max-width: 1023px) and (orientation: landscape) {
  body {
    background: white;
  }

  body::after {
    content: 'Please rotate your device to portrait mode';
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%;
    text-align: center;
    font-size: 32px;
    background: var(--gradient-horizontal);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
  }

  #root,
  #drawer {
    display: none;
  }
}
