// CREDIT: https://codepen.io/jico/pen/wvMpgog

$diceBg: #f6f3f0;
$diceColor: var(--secondary-color-dark);
$diceRadius: 20px;

.diceWrap {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);

  &::before {
    position: absolute;
    content: '';
    width: 70%;
    height: 10%;
    top: 90%;
    left: 15%;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 100%;
    filter: blur(20px);
  }
}

.dice {
  position: absolute;
  width: 50%;
  height: 50%;
  top: 25%;
  left: 25%;
  transform-style: preserve-3d;
  transform: rotate3d(0, 0.9, 0.9, 90deg);
  transition: 0.5s cubic-bezier(0.42, 1.57, 0.62, 0.86);

  &.rolling {
    animation: rotatePerFace 12s cubic-bezier(0.42, 1.57, 0.62, 0.86) infinite;
  }

  &.throw {
    animation:
      rotateDice 0.7s ease-in reverse,
      throwDice var(--dice-animate-duration) linear;
  }

  .diceFace {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $diceBg;
    border: 2px solid lighten($diceBg, 10%);
    border-radius: $diceRadius;
    transform-style: preserve-3d;
    transition: 0.5s;

    &::before {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      background-color: lighten($diceBg, 10%);
      border-radius: 20px;
      transform: translateZ(-1px);
    }

    &::after {
      position: absolute;
      content: '';
      width: 20%;
      height: 20%;
      top: 50%;
      left: 50%;
      margin: -10% 0 0 -10%;
      background-color: $diceColor;
      border-radius: 100%;
      transform: translateZ(1px);
    }
  }

  .front {
    transform: translateZ(50px);
    &::after {
      width: 40%;
      height: 40%;
      margin: -20% 0 0 -20%;
      background-color: $diceColor;
    }
  }

  .up {
    transform: rotateX(90deg) translateZ(50px);
    &::after {
      margin: -30px 0 0 -30px;
      box-shadow: 40px 40px $diceColor;
    }
  }

  .left {
    transform: rotateY(-90deg) translateZ(50px);
    &::after {
      margin: -40px 0 0 -40px;
      box-shadow:
        30px 30px $diceColor,
        60px 60px $diceColor;
    }
  }

  .right {
    transform: rotateY(90deg) translateZ(50px);
    &::after {
      margin: -30px 0 0 -30px;
      background-color: $diceColor;
      box-shadow:
        40px 0px $diceColor,
        0px 40px $diceColor,
        40px 40px $diceColor;
    }
  }

  .bottom {
    transform: rotateX(-90deg) translateZ(50px);
    &::after {
      margin: -36px 0 0 -36px;
      box-shadow:
        26px 26px $diceColor,
        52px 52px $diceColor,
        52px 0px $diceColor,
        0px 52px $diceColor;
    }
  }

  .back {
    transform: rotateX(180deg) translateZ(50px);
    &::after {
      margin: -40px 0 0 -30px;
      box-shadow:
        40px 0px $diceColor,
        0px 30px $diceColor,
        40px 30px $diceColor,
        0px 60px $diceColor,
        40px 60px $diceColor;
    }
  }
}

.disabled .dice {
  animation: none !important;
}

@keyframes rotateDice {
  30% {
    transform: rotate3d(1, 1, 1, 0deg);
  }
  100% {
    transform: rotate3d(1, 1, 1, 720deg);
  }
}

@keyframes rotatePerFace {
  16% {
    transform: rotate3d(-0.1, 0.6, -0.4, 180deg);
  }
  32% {
    transform: rotate3d(-0.85, -0.42, 0.73, 180deg);
  }
  48% {
    transform: rotate3d(-0.8, 0.3, -0.75, 180deg);
  }
  64% {
    transform: rotate3d(0.3, 0.45, 0.9, 180deg);
  }
  80% {
    transform: rotate3d(-0.16, 0.6, 0.18, 180deg);
  }
  100% {
    transform: rotate3d(-0.1, 0.3, -1, 180deg);
  }
}

@keyframes throwDice {
  20% {
    margin-top: -100px;
  }
  40% {
    margin-top: 0px;
  }
  60% {
    margin-top: -30px;
  }
  80% {
    margin-top: 0px;
  }
  85% {
    margin-top: -10px;
  }
  90% {
    margin-top: 0px;
  }
  95% {
    margin-top: -3px;
  }
  100% {
    margin-top: 0px;
  }
}
